<div data-ng-controller="puzzleController">
	<div>
		<input type="number" ng-model="rows"> numero di righe</br>
		<input type="number" ng-model="cols"> numero di colonne
	</div>
	<div>
		<input type="button" value="crea puzzle" ng-click="createPuzzle()">
	</div>
	
<!-- 	<div>
		<div ng-repeat="row in puzzle track by $index">
			<span ng-repeat="col in row track by $index">{{col}}</span>
		</div>
	</div>
	 -->
	<table class="table-bordered table-dark">
		<tbody>
			<tr ng-repeat="row in puzzle track by $index">
				<td ng-repeat="col in row track by $index">{{col}}</td>
			</tr>
		</tbody>
	</table>
	
	<div ng-repeat="word in wordList">
		<span>{{word}}</span>
	</div>
</div>